@model IAAI.Models.ForumPost


<style>
    .entry-header {
        background: #3c73b0;
        color: white;
        padding: 10px 30px;
    }

        .entry-header .entry-title {
            color: white;
        }

    .entry-title {
    }

    .post-meta-date {
    }

    .post-content {
        border: whitesmoke 1px solid;
        margin-bottom: 20px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .entry-content {
    }

    .post {
        border: whitesmoke 1px solid;
        padding: 0;
    }

    .postInfo {
        padding: 10px 20px;
        background: #eee;
        text-align: right;
    }

    .respon {
        margin: 20px auto;
        display: inline-block;
        padding: 3px 8px;
        background: #b2b2b2;
        color: white;
        border-radius: 2px;
    }

    .post-body {
        background: #FCFCFC;
        padding: 30px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .clear {
        clear: both;
    }

    .postMan {
        font-size: 16px;
    }
</style>


<div class="post-content">
    <div class="entry-header">
        <h2 class="entry-title">
            @Model.Title
        </h2>
        <span class="postMan"> 發表人:@Model.MyMember.Name</span>

    </div><!-- header end -->
    <div class="postInfo">
        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @Model.CreatedTime.ToString("yyyy/MM/dd")</span>
    </div>
    <div class="post-body">
        <div class="entry-content topmargin-min">
            @Html.Raw(Model.Content)
        </div>
        <div class="tags-area clearfix">
        </div>
    </div>
</div>

@foreach (var item in Model.MyReplies)
{
    <div class="post">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="entry-header">
                    <div class="post-media post-image postMan">
                        回應者:@item.MyMember.Name
                    </div>
                </div>
                <div class="postInfo">
                    <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.CreatedTime.ToString("yyyy/MM/dd")</span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="post-body">
                    @Html.Raw(item.Content)
                </div>
                <!-- post-body end -->
            </div>
        </div>
    </div>
}
<div class="form-group"">
    @Html.ActionLink("回應文章", "CreateRe", "Member", new { forumPostId = Model.Id }, new { @class = "respon" })

</div>

<div class="post-footer  pull-right">
    <a href="@Url.Action("Index", "Member", new {page=ViewBag.page})" class="btn btn-primary">返回列表</a>
</div>
